
body{
    background-color: #c2cad7;
    background-image: linear-gradient( #c8b7ac
    , #c2cad7);
    background-size: cover;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1.header {
    color: #FEFDFB;
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-align: left;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    display: inline;

  
}

img.logoh{
    width: 2rem;
    height:2rem;
    position: relative;
    display: inline;
    margin-right: 0.5rem; 
}






ul.navv{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li.item{
    float: left;
    margin-left: 1rem;
}

li a.item{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}
li.item a:hover {
    background-color: #FEFDFB;
    color: #333333;
}






nav.header {
    background-color: #333333;
    border: black solid 2px;
    align-items: left;
    
}



div.left{
    margin-left: 1rem;
}



h1.txtt{
    color: #1B64ED;
    font-family: 'Edu NSW ACT Foundation';
        text-align: center;
        font-size: 25px;
}

div.card{
    width: device-width;
    height: device-height;
   
    min-height: auto;
    background-color: transparent; 
    border-color: transparent;
}

div.card-body{
    background-color: #FEFDFB;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border: black solid 2px;
    align-items: left;
    padding: 1rem;
    border-radius: 1rem;
    
}


.map {
    width: 20rem;
    height: 18.5rem;
  
   
}

canvas {
    border-radius:150px;
}



footer{
    background-color: #333333;
    padding: 3rem;
    color: white;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#333333;

}

footer section{
    float: right;


}
footer p{
    margin: 0;  

}
footer a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;

}

footer a:hover{
    color: cornflowerblue;
    
}

.link{
    color: #c5cae9 ;
    font-size: 12px;
    cursor: pointer;

}
.link a:hover{
    color: cornflowerblue;
}